<h1>Hangman</h1>
<h4>It's in your hands...</h4>
<img src= <%= "img/attempt#{6}.png" %> >
<form action= '/hangman' method= 'post'>
  <input type= 'text' maxlength= '1' name= 'guess'>
  <input type= 'submit' value= 'Guess'>
</form>